#map {
	    position: fixed;
            height: 100vh;
            width: 100vw;
        }
	@media screen and (min-width: 600px) {
		
		#leftWindow {
			left: 1%;
			top: 6%;
			width: 15%;
			background-color: rgb(255,255,255);
			border: 2px solid black; /* Параметры границы */
			position: fixed;
			display: none;
	    	}
		#AuthButtons {
			right: 2%;
			top: 3%;
			font-size: 100px;
			position: fixed;
		}
		#help {
			position: static;
			margin: 3%;
	    	}
		#tableId {
			text-indent:4vh;
			position: relative;
			margin: 1%;
			width: 85%;
		}
		#pageId {
			text-indent:4vh;
			position: relative;
			margin: 1%;
			width: 85%;
		}
		#SendButton {
			text-indent:1vh;
			position: relative;
			margin: 2%;
		}
		#downTriangle {
			display: block;
			position: relative;
			margin: 1%;
			width: 9%;
			height: 7%;
		}
		#upTriangle {
			display: none;
			position: relative;
			margin: 1%;
			width: 9%;
			height: 7%;
		}
		#hidden {
			display: none;
			position: relative;
			margin: 1%;
			width: 85%;
			height: 60%;
		}
		#fromDate {
			width: 90%;
			height: 8%;
		}
		#toDate {
			width: 90%;
			height: 8%;
		}
		#fromPos {
			width: 90%;
			height: 8%;
		}
		#toPos {
			width: 90%;
			height: 8%;
		}
	    }    
